[Unit]
Description=f.lux daemon

[Service]
# can't use -nofork here since xflux has a bug that
# causes 100% cpu usage of a core if it is not given
# access to a tty or stdin
ExecStart=/usr/bin/xflux -z 94063
Type=forking

[Install]
WantedBy=graphical.target
